
*.v2

*.vsidx

*.lock

OwnSortedList/.vs/OwnSortedList/v17/

*.v5

OwnSortedList/MyStructureShow/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs

OwnSortedList/MyStructureShow/obj/Debug/net6.0/MyStructureShow.AssemblyInfo.cs

*.cache

*.editorconfig

OwnSortedList/MyStructureShow/obj/Debug/net6.0/MyStructureShow.GlobalUsings.g.cs

OwnSortedList/MyStructureShow/obj/Debug/net6.0/

*.json

*.props

*.targets

*.sln

OwnSortedList/OwnSortedList/bin/Debug/net6.0/

OwnSortedList/OwnSortedList/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs

OwnSortedList/OwnSortedList/obj/Debug/net6.0/OwnSortedList.AssemblyInfo.cs

OwnSortedList/OwnSortedList/obj/Debug/net6.0/OwnSortedList.csproj.FileListAbsolute.txt

OwnSortedList/OwnSortedList/obj/Debug/net6.0/

OwnSortedList/MyStructureShow/bin/Debug/net6.0/

OwnSortedList/OwnSortedList.Tests/bin/Debug/net6.0/

OwnSortedList/OwnSortedList.Tests/obj/Debug/net6.0/

OwnSortedList/SortedListTest/obj/Debug/net6.0/

TaskPlanner/.vs/TaskPlanner/v17/.suo

TaskPlanner/TaskPlanner.DAL/bin/Debug/net6.0/

TaskPlanner/TaskPlanner.DAL/obj/Debug/net6.0/

TaskPlanner/.vs/TaskPlanner/v17/TestStore/0/

TaskPlanner/TaskPlanner.BLL.Tests/obj/Debug/net6.0/

TaskPlanner/TaskPlanner.BLL/obj/Debug/net6.0/

TaskPlanner/TaskPlanner.BLL.Tests/bin/Debug/net6.0/cs/

TaskPlanner/TaskPlanner.BLL.Tests/bin/Debug/net6.0/de/

TaskPlanner/TaskPlanner.BLL.Tests/bin/Debug/net6.0/es/

TaskPlanner/TaskPlanner.BLL.Tests/bin/Debug/net6.0/fr/

TaskPlanner/TaskPlanner.BLL.Tests/bin/Debug/net6.0/it/

TaskPlanner/TaskPlanner.BLL.Tests/bin/Debug/net6.0/ja/

*.dll

TaskPlanner/TaskPlanner.BLL.Tests/bin/Debug/net6.0/

TaskPlanner/TaskPlanner.BLL/bin/Debug/net6.0/

TaskPlanner/TaskPlanner.PL/obj/Debug/net6.0/
